<% include partials/header %> 
<% include partials/navbar %>
<main class="container">
    <div class="page-header">
        <h1><%= title %></h1>
    </div>
    <p>To know a little about me, I am a student enrolled in a college and currently majoring in Computer Science.
        My goal is to perfect my skill in Computer Programming so that I may pursue a career in the desired field and if I'm 
        skilled enough, to become a Video Game Programmer.</p>
    <p>If you wish to get ahold of me or report a problem with the website, go ahead and reach me at one of the methods below:</p>
    
    <!-- Wrap to prevent absurd widths -->
    <div class="col-sm-6 col-md-4">
        <ul class="list-group">
            <li class="list-group-item"><strong>Email:</strong> jujunol@outlook.com</li> 
            <li class="list-group-item"><strong>Phone:</strong> +1 (555) 414-3123</li> 
            <li class="list-group-item"><strong>Snail Mail:</strong><br>
                101 Meadow Drive, <br>
                Barrie, ON, CAN, <br>
                L5L 1E5 
            </li> 
        </ul>    
    </div>
</main>
<% include partials/footer %>