<% include partials/header %> 
<% include partials/navbar %>
<main class="container">
    <div class="page-header">
        <h1><%= title %></h1>
    </div>
    <p>This site's primary goal is to tell you about <%= title %></p>
    <p>First off, I'd like to talk about the word &quot;People&quot;. The word <i>people</i> 
        comes from latin, which really refers to an entire population. Therefore in a context
        where one is talking about a plural of <i>person</i> then one should really use persons
        despite the common misconception.</p>
        
    <cite>Click <a href="http://www.dailywritingtips.com/people-vs-persons/">here</a> to learn more</cite>
</main>
<% include partials/footer %>